# Configuration file

entitiesalwaysinfernal {
    B:EntityBabyCreeper=false
    B:EntityBabySkeleton=false
    B:EntityBabySpider=false
    B:EntityBabyZombie=false
    B:EntityBrainSlime=false
    B:EntityCreeper=false
    B:EntityEnchantedBook=false
    B:EntityEvilChicken=false
    B:EntityEvilCow=false
    B:EntityFestiveCreeper=false
    B:EntityFlameSpewer=false
    B:EntityGhost=false
    B:EntityGiantSpider=false
    B:EntityGoblin=false
    B:EntityGoon=false
    B:EntityHauntedTool=false
    B:EntityIYApeMan=false
    B:EntityIYBandit=false
    B:EntityIYBlueHandRoper=false
    B:EntityIYCaveStalker=false
    B:EntityIYDirtGolem=false
    B:EntityIYEnderHunger=false
    B:EntityIYGhostArmor=false
    B:EntityIYGoblin=false
    B:EntityIYHobGoblin=false
    B:EntityIYImitator=false
    B:EntityIYKillerLizard=false
    B:EntityIYLizardMan=false
    B:EntityIYMutantMushroom=false
    B:EntityIYMutantTree=false
    B:EntityIYOrk=false
    B:EntityIYPinkHandRoper=false
    B:EntityIYPumpkinSpider=false
    B:EntityIYRedEnderMan=false
    B:EntityIYSkeletonWarrior=false
    B:EntityIYStoneWorm=false
    B:EntityIYThief=false
    B:EntityIYWhiteHandRoper=false
    B:EntityIYWoodman=false
    B:EntityMimic=false
    B:EntityMosquito=false
    B:EntityMotherSpider=false
    B:EntityRocketCreeper=false
    B:EntityShade=false
    B:EntityShadowBeast=false
    B:EntitySkeletalKnight=false
    B:EntitySkeleton=false
    B:EntitySkeletonWarrior=false
    B:EntitySpider=false
    B:EntitySupportCreeper=false
    B:EntityWasp=false
    B:EntityWroughtnaut=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:EntityBabyCreeper=20.0
    D:EntityIYWhiteHandRoper=60.0
    D:EntityIYWoodman=40.0
    D:EntityMimic=50.0
    D:EntityMosquito=1.0
    D:EntityRocketCreeper=20.0
    D:EntitySkeletonWarrior=25.0
    D:EntitySupportCreeper=20.0
    D:EntityWasp=1.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # List of DimensionIDs where InfernalMobs will NEVER spawn
    S:dimensionIDBlackList=

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityBabyCreeper=true
    B:EntityBabySkeleton=true
    B:EntityBabySpider=true
    B:EntityBabyZombie=true
    B:EntityBrainSlime=true
    B:EntityCreeper=true
    B:EntityEnchantedBook=true
    B:EntityEvilChicken=true
    B:EntityEvilCow=true
    B:EntityFestiveCreeper=true
    B:EntityFlameSpewer=true
    B:EntityGhost=true
    B:EntityGiantSpider=true
    B:EntityGoblin=true
    B:EntityGoon=true
    B:EntityHauntedTool=true
    B:EntityIYApeMan=true
    B:EntityIYBandit=true
    B:EntityIYBlueHandRoper=true
    B:EntityIYCaveStalker=true
    B:EntityIYDirtGolem=true
    B:EntityIYEnderHunger=true
    B:EntityIYGhostArmor=true
    B:EntityIYGoblin=true
    B:EntityIYHobGoblin=true
    B:EntityIYImitator=true
    B:EntityIYKillerLizard=true
    B:EntityIYLizardMan=true
    B:EntityIYMutantMushroom=true
    B:EntityIYMutantTree=true
    B:EntityIYOrk=true
    B:EntityIYPinkHandRoper=true
    B:EntityIYPumpkinSpider=true
    B:EntityIYRedEnderMan=true
    B:EntityIYSkeletonWarrior=true
    B:EntityIYStoneWorm=true
    B:EntityIYThief=true
    B:EntityIYWhiteHandRoper=true
    B:EntityIYWoodman=true
    B:EntityMimic=true
    B:EntityMosquito=true
    B:EntityMotherSpider=true
    B:EntityRocketCreeper=true
    B:EntityShade=true
    B:EntityShadowBeast=true
    B:EntitySkeletalKnight=true
    B:EntitySkeleton=true
    B:EntitySkeletonWarrior=true
    B:EntitySpider=true
    B:EntitySupportCreeper=true
    B:EntityWasp=true
    B:EntityWroughtnaut=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


